<!--La información de este HTML permite ver las tabs que tiene el proyecto, en este caso, Disponibles y Ocupados-->
<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1">
            <ion-icon name="car"></ion-icon>
            <ion-label>Disponibles</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="checkmark-circle"></ion-icon>
            <ion-label>Ocupados</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>